<!doctype html>
<html>
  <head>
    <title>inHouseDev chat</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="static/emoji-picker.css">    
  </head>
  <body>
    <div class="container hide">
      <h1><i class="fas fa-home"></i> Chat</h1>
      <h2><i class="fas fa-users"></i> Online Now</h2>
      <div class="col1">          
          <div class= "chat">
            <ul id="messages"></ul>
          </div>
          <div class = "buttom">
            <form action="">
                <input id="m" autocomplete="off" />
                <button><i class="fas fa-location-arrow"></i></button>
            </form>
          </div>
      </div>
      <div class="col2">        
        <div class="list">
          <ul id="users"></ul>
        </div>
      </div>
    </div>
    <div class="modalContainer">
        <div class="modal">
            <h1><i class="fas fa-headset"></i>  Introduce tu nick Name</h1>    
            <input class="nickName" id="nickName" autocomplete="off" />
        </div> 
    </div>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/app.js"></script>
    <!--<script src="static/emoji-picker.js"></script>    
    <script>
      EmojiPicker.imagePath = "static/sheet_apple_64_indexed_128.png";
      EmojiPicker.init("#m");
    </script>-->
  </body>
</html>