.container{
  background-color: whitesmoke;
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(6,1fr);
  grid-gap: 30px;
}
.item{
  position: relative;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  height: 150px;
  border-radius: 7px;
  background-image: radial-gradient(#ffffff ,#e5e5e2);
  box-shadow: 5px 5px 10px #54544a;
  /*opacity: 0.25;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1{
  grid-column: span 2;
  grid-row: span 2;
  height: 100%;
}

i{
  color: #ff0000;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.item:nth-child(odd):hover{
  animation: shakeR 1s;
  animation-timing-function: ease-in-out;
}
.item:nth-child(even):hover{
  animation: shakeL 1s;
  animation-timing-function: ease-in-out;
}

@keyframes shakeL{
  from {transform: skew(20deg,-20deg);}
  to {transform: skew(20deg,-20deg);}
}
@keyframes shakeR{
  from {transform: skew(-20deg,20deg);}
  to {transform: skew(-20deg,20deg);}
}

@media(min-width:768px){
  .container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 30px;
  }
}

@media(min-width:991px){
  .container{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 30px;
  }

}